/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.padding{
  padding: .5rem;
}

.button{
  font-weight: 500;
  padding: .6rem 1.4rem;
  color: rgb(255, 252, 252);
  background-color: rgb(39, 130, 243);
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
}

.button:hover{
  transform: scale(1.1);
font-size: 300;
}
